.contourField {
    margin-bottom: 15px;
    clear: both;
}

.contour {
    .help-block {
        font-size: .8em;
        color: gray;
        display: block;
    }
}

/* Don't hide any fields if javascript is turned off. Fields are hidden when enabling conditions */
.no-js .contourField {
    display: block !important;
}

fieldset {
    position: relative;
    margin-bottom: 2em;

    label {
        display: block;
    }
}

.datetimepicker {
    position: absolute;
    display: none;
    background: #f1f1f1;
}
input[type=submit] {
    background-color: $copper-rust;
}
input[type=submit]:hover {
    background-color: $copper-rust;
}