#hero {
    position: relative;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    max-height: 80vh;
    min-height: 30vh;
    height: calc(100vh - 410px);
    background-position: center;

    @media screen and (max-width: 1430px) {
        height: calc(100vh - 368px);
    }

    @media screen and (max-width: 991px) {
        height: calc(100vh - 398px);
        font-size: .8em;
    }
}
